.b-l{
  border-left: 1px solid var(--gray-color);
}
.b-r{
  border-right: 1px solid var(--gray-color);
}
.bold-text{
  font-weight: bolder !important;
}
.p-l-1{
  padding-left: 1rem;
}
.danger-color{
  color: red;
}
.btn-primary{
  color: white;
  background-color: rgb(13, 110, 253);
  border: 2px solid white;
  border-radius: 5px;
  cursor:pointer;
  padding: 0.5rem 2rem;
  width: max-content;
}
.justify-text{
  text-align: justify;
}
.main-text{
  font-size: 3rem;
  color: #F9FAF8;
  font-weight: bolder;
}
.sec-text{
  font-size: 18px;
  text-align: justify;
  color: #E5E7E8;
}
.q-b-c{
  background-color: #E5E7E8;
  width: inherit;
}
.q-t{
  font-size: 36px;
  font-weight: lighter;
  font-style:italic;
  text-align: justify;
  color: #1F2937;
  width: 70%;
}
.logo-text{
  font-size: 24px;
  color: #F9FAF8;
}
.pointer{
  cursor: pointer;
}
