@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Roboto:wght@100;300&display=swap');
:root{
  --gray-color:rgba(148, 148, 148, 0.9);
  --dark-color:#1F2937;
}
html{
  background-color: #F4F4F4;
  font-family: 'Roboto', sans-serif;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
header{
  width: 100%;
}

.header.top-row{
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}
.header.bottom-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 1rem;
  gap: 1rem;
}
.intro-info{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}
.link{
  color:whitesmoke;
  font-weight:500;
  padding: 0 1rem;
  text-decoration: none;
}
.link:hover{
  color: wheat;
}
.summary-quote{
  display: flex;
  align-items: center;
  justify-content: left;
}
.summary-quote span{
  padding: 0 0.3rem;
}
.menu-prim,
.menu-sec{
  color:whitesmoke;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 0.2rem;
}
.menu-sec > span{
  padding: 0 1rem;
}
nav{
  background-color:var(--dark-color);
  height: 25rem;
}
.image{
  height: 15rem;
}
.grid-1{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid-2{
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin: auto;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}
.logo img{
  height: 3.5rem;
  border-radius: 13px;
}
.portfolio{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1;
  gap: 1rem;
  padding: 3rem;
}
.portfolio .item-1{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.portfolio .item-2{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.portfolio .item-3{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.portfolio [class^="item"]{
  padding: 1rem;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
}
.portfolio [class^="item"] img,
.portfolio p{
  display: block;
  margin: auto;
  padding: 0.5rem 0;
  width: 20rem;
}

footer{
  background-color: var(--dark-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}